h1 {
    font-family: "Audiowide", cursive;
    font-size: 3rem
}
body {
    color:white;
}
.container {
    width: 600px;
    margin: 0 auto;
    height:100vh;
    padding:15px;
    background: rebeccapurple;
}

a {
    font-family: "Century Gothic", "Audiowide", cursive;
    color:white;
    text-decoration: none;

}