
body {
   background-color:#a4adba;
    margin:0;
}
body > div {margin:0}
.container {
    width: 60%;
    margin: 0 auto;
    height:100vh;
    padding:15px 15px 15px 15px;

}
#joel {
    margin: 0 auto;
    width:50px;
    font-family: Avenir, sans-serif;
}

#joel > a {
    font-family: Avenir, sans-serif;
    color: darkgrey;
    text-decoration: none;
}