h1 {
    font-family: "Audiowide", cursive;
    font-size: 3rem
}
body {
   background-color:darkslategray;
}
.container {
    width: 600px;
    margin: 0 auto;
    height:70vh;
    padding:20vh 15px 15px 15px;

}
#joel {
    margin-left:100px;
    font-family: Avenir, sans-serif;
}
#joel > h2 {
    font-family: Avenir, sans-serif;
    font-weight: lighter;
    color: seashell;
    margin-bottom: 0;
    font-size:1.1rem;
}
#joel > a {
    font-family: Avenir, sans-serif;
    color: darkgrey;
    text-decoration: none;
}